* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --theme-color: #353535;
    --accent-color: #3607b8;
    --button-hover-color: #353535;
    --button-hover-bg: #353535;
}

body {
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    background: linear-gradient(
        to bottom,
        var(--theme-color) 120px,
        #ffffff 120px
    );
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(50, 50, 50, 0.1);
    padding: 40px 0 20px;
    text-align: center;
    position: relative;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid #fff;
    box-shadow: 0 0 0 5px var(--theme-color);
}

.card h4 {
    color: var(--theme-color);
    font-size: 20px;
    margin: 15px 0 5px 0;
}

.card h5 {
    color: #454545;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.description {
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
}

.details{
    margin-top: 20px;
}

.details span {
    display: block;
    font-size: 12px;
    color:darkslategrey;
    font-weight: 500;
    margin-top: 5px;
}

.buttons {
    margin-top: 25px;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: var(--theme-color);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button:hover {
    background-color: var(--button-hover-bg);
    color: white;
}

